<div class="row" ng-hide="article._id">
  <div class="col-md-6">
      <h2>Create new article</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Title (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.title" required> 
    </p>
    <p>
      <label>Summary (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.summary" required> 
    </p>
    <p>
      <label>Publish Date - yyyy-mm-dd (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.publishDate" required> 
    </p>
    <p>
      <label>Publication Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.publicationName" required> 
    </p>
    <p>
      <label>Article Url (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.articleUrl" required> 
    </p>
    <p>
      <label>Image Url (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="article.imageUrl" required> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveArticle(article)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>